@import 'tailwindcss';

@theme {
  /* Colors */
  --color-bg-base: rgb(22 22 18);
  --color-bg-1: rgb(27 27 24);
  --color-bg-2: rgb(40 39 37);

  --color-bg-3: rgb(64 62 57);

  --color-text: rgb(236 233 222);
  --color-text-muted: rgb(166 162 149);

  --color-primary: rgb(255 204 0);
  --color-primary-light: rgb(255 216 61);

  --color-danger: rgb(208 62 62);
  --color-confirmation: rgb(106 186 56);

  /* Spacing */
  --spacing-mw: 1328px;
}
