@import 'tailwindcss';

@theme {
  /* Colors */
  --color-bg-base: rgb(22 22 18);
  --color-bg-1: rgb(27 27 24);
  --color-bg-2: rgb(40 39 37);

  --color-bg-3: rgb(64 62 57);

  --color-text: rgb(236 233 222);
  --color-text-muted: rgb(166 162 149);

  --color-primary: rgb(255 204 0);
  --color-primary-light: rgb(255 216 61);

  --color-danger: rgb(208 62 62);
  --color-danger-light: rgb(233, 178, 178);
  --color-confirmation: rgb(106 186 56);
  --color-confirmation-light: rgb(195, 231, 173);

  /* Spacing */
  --spacing-mw: 1328px;
  --spacing-header-height: 64px;
  --spacing-topbar-height: 74px;

  /* Animation */
  @keyframes loader-1 {
    0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }
    12.5% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }
    25% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
    62.5% {
      clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
    75% {
      clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }
    100% {
      clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
  }
  @keyframes loader-2 {
    0% {
      transform: scaleY(1) rotate(0deg);
    }
    49.99% {
      transform: scaleY(1) rotate(135deg);
    }
    50% {
      transform: scaleY(-1) rotate(0deg);
    }
    100% {
      transform: scaleY(-1) rotate(-135deg);
    }
  }
}
